* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  color: #828282;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  color: #575757;
}
h2 {
  margin-bottom: 10px;
  color: #575757;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1300px;
  margin: auto;
  height: auto;
  background-color: #ddd;
}
.flex-container {
  display: flex;
}

header .flex-container {
  justify-content: space-between;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.logo {
  max-width: 5%;
}
a {
  padding: 10px 20px;
  display: inline-block;
}
.orange-text {
  color: orange;
}
.banner-text {
  margin-top: 150px;
}
.link-btn {
  background-image: linear-gradient(40deg, #ff9554, #ff4236);
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 30px;
  color: #fff;
}

section {
  padding-bottom: 100px;
}
.text {
  max-width: 80%;
}
.title {
  margin-bottom: 40px;
}

.recipie .title {
  text-align: center;
}
.recipie p {
  max-width: 700px;
  margin-bottom: 80px;
}
.recipie .flex-container {
  justify-content: space-around;
}
.recipie-title {
  color: #18191f;
}
.recipie-item {
  width: 30%;
  box-shadow: 5px 10px 10px grey;
  padding: 10px;
}
.recipie-item img {
  width: 100%;
}
.social {
  justify-content: space-around;
  padding: 80px 0;
}
.social h2 {
  color: #18191f;
}
footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 80px;
}
